.brand-logo {
    display: flex !important;
    font-size: 1.5rem !important;
}

.navbar-pic {
    height: 4rem;
    padding: 0em 0.5em;
}

@media (max-width: 540px) {
    .navbar-pic {
        display: none;
    }
}

@media (max-width: 450px) {
    .mobile-hide {
        display:none;
    }
}

.flashes h4 {
    line-height: 2;
}

.dict-cta {
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.5vw;
}

.table-of-contents a.active {
    border-left: 2px solid #39c2c8;
}

.table-of-contents a:hover {
    border-left: 1px solid #39c2c8;
}

.btn-flat {
    color: #ffff;
}

a {
    color: #00acc1;
    transition: all 0.2s linear;
}

a.sort-btn:hover {
    color:#006064; 
}

.custom-cyan {
    background-color: #39c2c8 !important;
}

