{% extends "base.html" %}
{% block content %}
<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col hide-on-small-only m2 ">
          <img src="static/images/lenguff.png" alt="The original Len Guff" class="circle responsive-img">
        </div>
          <div class="col s12 m10">
            <span class="black-text flow-text">
          <h4>Who is Len Guff?</h4>
              <h5>Just an ordinary guy</h5>
              <p>Len Guff was just like you. Just trying to get by in the business world. Earning a crust in
                  the everyday office bants, high-fiving the right people, firmly-handshaking the old firm, 
                  mingling at huddles, turning out logs at fireside chats, listening to energetic entrepreneurs 
                  pass out PowerPoint pearls at public, publicity, press and PR talks. </p>
              <h5>One day things changed</h5>
              <p>But something was grinding away at Guff. These people who claim to have the keys at the 
                  keynotes, were pedalling nonsense. No-one from the breakout room to the power breakfast 
                  buffet table was making any sense.</p>
              <h5>Len makes a stand</h5>
              <p>They were just words, words that sounded right, words that fitted into a soundbite. 
                  Phrases which were repeated because they encapsulated an idea or appeared to codify a new 
                  approach. But under closer scrutiny they signified nothing. These were the entrepreneur’s new 
                  clothes and Guff had had enough.</p>
              <h5>The struggle</h5>
              <p>So Len started to tap these business catchphrases and cliches into his phone. And he began to 
                  pick them apart, to understand where they came from and to suggest how they could be made 
                  better or binned. </p>
                  
              <h5>The success</h5>
              <p>The result was an ebook which is 
                  <a href="https://leanpub.com/jargonunchained" target="_blank">still widely available.</a></p>
              <h5>Rise up</h5>
              <p>Now it’s time to align with a new paradigm. To truly digitise and digitalise. 
                  The website is no longer about Len Guff. This website is about all of us. So the next time 
                  someone throws out an empty phrase in the boardroom or the ten-minute standup - it’s time to 
                  really make a stand.</p>
              <p>Put it on this site, so through extended ranting, we can make it better. And who knows if we 
                  get enough momentum, traction or velocity (or, you know, words) we could turn out a new ebook. 
                  Written by all of us. Because we are all Len Guff. </p>
            </span>
            <div class="col-12 show-on-small">
              <img src="static/images/lenguff.png" alt="The original Len Guff" class="circle responsive-img">
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 text-center">
            {% if session.user %}
              <a href="{{ url_for('add_jargon') }}"class="btn-large cyan darken-4 waves-effect waves-light">
                    Add Jargon <i class="fas fa-plus-square right"></i></a>
              <a href="{{ url_for('get_jargon') }}" class="btn-large cyan darken-4 waves-effect waves-light">
                      Jargon<i class="fas fa-book-open right"></i></a>
                
            {% else %}
              <a href="{{  url_for('register') }}" class="btn-large cyan darken-4 waves-effect waves-light">
                Join Us <i class="fas fa-users right"></i></a>
              <a href="{{ url_for('login') }}" class="btn-large cyan darken-4 waves-effect waves-light hide-on-small-only">
                Login <i class="fas fa-sign-in-alt right"></i></a>
              <a href="{{ url_for('get_jargon') }}" class="btn-large cyan darken-4 waves-effect waves-light">
                Jargon<i class="fas fa-book-open right"></i></a>
            {% endif %}
          </div>
        </div>
  </div>
{% endblock %}