{% extends "base.html" %}
{% block content %}

    <h3 class="center-align cyan-text text-darken-4">Manage Categories</h3>

    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_category') }}" class="btn-large cyan darken-4">
                Add Category <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>

    <div class="row">
        {% for category in categories %}
            <div class="col s12 m6 l4">
                <div class="card cyan center-align">
                    <div class="card-content white-text">
                        <span class="card-title flow-text">{{ category.category_name }}</span>
                    </div>
                    <div class="card-action flow-text">
                        <a href="{{ url_for('edit_category', category_id=category._id) }}">
                            <i class="btn-flat cyan darken-3 fas fa-pencil-alt"></i>
                        </a>
                        <button data-target="{{ category._id }}" class="btn-flat modal-trigger red darken-1">
                            <i class="fas fa-times-circle"></i>
                        </button>
                    </div>
                    <!-- Modal Delete Warning -->
                    <div id="{{ category._id }}" class="modal">
                        <div class="modal-content">
                            <h4>Are you sure you want to Delete this Category?</h4>
                            <p>Ctrl-Z won't save you if you hit delete!</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close btn-flat cyan darken-3"><i class="fas fa-undo right"></i>Take me back</a>
                            <a href="{{ url_for('delete_category', category_id=category._id) }}" 
                            class="btn-flat red">Delete delete!<i class="fas fa-times-circle right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
