{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="title">Jargon Unchained</h1>
            <img class="responsive-img" alt="business guy speaking jargon to Len Guff"src="static/images/JUC-illustration.jpg">
            <div class="col s12 l-offset-s6">
                {% for entry in jargon %}
                <p class="center-align flow-text">&ldquo;{{ entry.usage }}&rdquo;</p>
                <p class="center-align dict-cta">
                    <a href="{{ url_for('load_homepage') }}" class="sort-btn home-btn" alt="Get random entry"><i class="fas fa-random"></i> </a>
                    <a href="/get_jargon#{{ entry.jargon_name -}}" class="sort-btn home-btn" alt="See entry in dictionary"><i class="fas fa-book-open sort-btn"></i></a>
                </p>
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header flow-text"><i class="far fa-comment-dots"></i> Extended Jargon entry</div>
                        <div class="collapsible-body flow-text">
                            <h4>{{ entry.jargon_name }}</h4>
                            <p class="flow-text"><strong>Definition: </strong>{{ entry.definition }}<br>
                                <strong>Added by: </strong> {{ entry.created_by }}<br>
                                <strong>Category: </strong>{{ entry.category_name }}<br>
                                <strong>Love score: </strong>{{ entry.love_percent }}<br>
                            </p>
                            <p class="cyan-text text-darken-3">
                                <a href="/get_jargon#{{ entry.jargon_name -}}" class="sort-btn"><i class="fas fa-book-open"></i> Jargon Dictionary</a><br>
                                <a href="{{ url_for('load_homepage') }}" class="sort-btn"><i class="fas fa-random"></i> Shuffle again</a>
                            </p>
                        </div>
                    </li>
                </ul>
                {% endfor %}    
            </div>
        </div>
    </div>

{% endblock %}