<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jargon Unchained</title>
</head>
<body>
    {% for entry in jargon %}
        {{ entry.jargon_name }}<br>
        {{ entry.definition }}<br>
        {{ entry.usage }}<br>
        {{ entry.editorialise }}<br>
        {{ entry.love_percent }}<br>
        {{ entry.category_name }}<br>  
    {% endfor %}
</body>
</html>