{% extends "base.html" %}
{% block content %}
        <div class="row card-panel grey lighten-5">
            <form action="{{ url_for('search') }}" method="POST" class="col s12">
                <div class="row valign-wrapper center-align">
                    <div class="input-field col s12 m8">
                        <i class="fas fa-search prefix cyan-text text-darken-3"></i>
                        <input type="text" name="query" id="query" minlength="3" class="validate" required>
                        <label for="query">Search Jargon</label>
                    </div>
                    <div class="col s12 m4">
                        <a href="{{ url_for('get_jargon') }}" class="red btn">Reset</a>
                        <button type="submit" class="cyan darken-3 btn">
                            <i class="fas fa-search left"></i>Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col hide-on-small-only m3 l2 pull-m9 pull-l10">
            <ul class="section table-of-contents pinned">
                {% for entry in jargon %}
                <li><a href="#{{ entry.jargon_name }}">{{ entry.jargon_name }}</a></li>
                {% endfor %}
            </ul>
        </div>      
        <div class="row">
            {% for entry in jargon %}
            <div class="col s12 m9 l10 push-m3 push-l2">
                <div id="{{ entry.jargon_name }}" class="section scrollspy">
                    <h4>{{ entry.jargon_name }}</h4>
                        <p class="flow-text"><strong>Definition: </strong>{{ entry.definition }}<br>
                        <strong>Usage: </strong>&ldquo;{{ entry.usage }}&rdquo;<br>
                        <strong>Added by: </strong> {{ entry.created_by }}<br>
                        <strong>Category: </strong>{{ entry.category_name }}<br>
                        <strong>Extended rant: </strong>{{ entry.editorialise }}<br>
                        <strong>Love score: </strong>{{ entry.love_percent }}<br></p>
                        <div class="col s-12 m-9 l10 text-center cyan-text text-darken-3 dict-cta">
                            <i class="far fa-thumbs-up"></i>
                            <i class="far fa-thumbs-down"></i>
                            <i class="far fa-comments"></i>
                            {% if session.user|lower == entry.created_by|lower %}
                                <a href="{{ url_for('edit_jargon', entry_id=entry._id) }}" class="btn-flat btn-large cyan darken-3"><i class="fas fa-pencil-alt"></i></a>
                                <button data-target="{{ entry._id }}" class="btn-flat btn-large modal-trigger red darken-1">
                                    <i class="fas fa-times-circle"></i>
                                </button>
                            {% endif %}
                            <i class="fas fa-sort-numeric-down-alt"></i>
                            <i class="fas fa-sort-alpha-down"></i>
                        </div>
                        <!-- Modal Delete Warning -->
                        <div id="{{ entry._id }}" class="modal">
                            <div class="modal-content">
                                <h4>Are you sure you want to Delete this Entry?</h4>
                                <p>Ctrl-Z won't save you if you hit delete!</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-close btn-flat cyan darken-2"><i class="fas fa-undo right"></i>Take me back</a>
                                <a href="{{ url_for('delete_jargon', entry_id=entry._id) }}" 
                                class="btn-flat red">Delete delete!<i class="fas fa-times-circle right"></i></a>
                            </div>
                        </div>                    
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}

