{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align cyan-text text-darken-3">
                    {{ username }}'s Profile
                </h3>
                <!-- Add contributed words - with option to edit -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_jargon') }}" class="btn-large cyan darken-2">
                Add Jargon <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>
    <!-- using the same template from category cards 
    need to display entries by user -->
    <div class="row">
        <div class="col s12 m6 l4">
            {% for entry in jargon %}
                {% if session.user|lower == entry.created_by|lower %}
                    <div class="card cyan center-align">
                        <div class="card-content white-text">
                            <span class="card-title flow-text">{{ entry.jargon_name }}</span>
                        </div>
                        <div class="card-action flow-text">
                            <a href="{{ url_for('edit_jargon', entry_id=entry._id) }}">
                                <i class="btn-flat cyan darken-2 fas fa-pencil-alt"></i>
                            </a>
                            <button data-target="{{ entry_id }}" class="btn-flat modal-trigger red darken-1">
                                <i class="fas fa-times-circle"></i>
                            </button>
                        </div>
                        <!-- Modal Delete Warning -->
                        <div id="{{ entry._id }}" class="modal">
                            <div class="modal-content">
                                <h4>Are you sure you want to Delete this?</h4>
                                <p>Ctrl-Z won't save you if you hit delete!</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-close btn-flat cyan darken-2"><i class="fas fa-undo right"></i>Take me back</a>
                                <a href="{{ url_for('delete_jargon', jargon_id=jargon._id) }}" 
                                class="btn-flat red">Delete delete!<i class="fas fa-times-circle right"></i></a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <h3>You don't have any entries</h3>
                {% endif %}
            {% endfor %}            
        </div>       
    </div>

{% endblock %}